.carousel-item{
    height: 450px;
}
.presentacion{
    align-items: center;
    padding: 50px;
}
h1{text-align: center;
}

.infodestacado{
    text-align: center;
    padding: 50px;
}
.float-right{
    padding-right: 50px;
}
.ubicacion{
    padding-right: 50px;
}