.carousel-item{
    height: 450px;
}
.presentacion{
    align-items: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    
}
h1{text-align: center;}

.imagenesdestacad{
    display: inline-flex;
}
.card-img-top{height: 180px;}

.destaca{
    padding: 70px;
}
.card{
    
    margin-right: 60px;
    margin-top: 50px;
    margin-left: 45px;
   
    
}

.contacto{
    margin-top: 60px;
    padding-left: 100px;
    text-align: center;
    padding-right: 120px;
}
i{width:150px;
padding-top: 100px;}

.contas{padding-top: 100px;}

.iconos{
    text-align: center;
}
