.carousel-item{
    height: 450px;
}
.presentacion{
    align-items: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    
}
h1{text-align: center;

}
.imagenesdestacad{
    display: inline-flex;
}
.destaca{
    padding: 70px;
}
.card{
    
    margin-right: 170px;
    margin-top: 50px;
   
    
}
