

.carousel-item{
    height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.presentacion{
    align-items: center;
    margin-bottom: -16px;
    background-color: #F5D4B6;
    
    
}
h1{text-align: center;}

.imagenesdestacad{
    display: inline-flex;
}
.card-img-top{height: 200px;}

.destaca{
    padding: 70px;
}
.card{
    
    margin-right: 60px;
    margin-top: 50px;
    margin-left: 45px;
   
    
}

.contacto{
    padding-top: 60px;
    padding-left: 100px;
    text-align: center;
    padding-right: 120px;
}
i{width:150px;
padding-top: 100px;}

.contas{padding-top: 100px;}

.iconos{
    text-align: center;
}

.destacados{background-color: #F5D4B6;}

.seccioncontacto{background-color: #F5D4B6;}

.textoquienessomos{
    padding: 50px;
}
.navbar{
    background-color: #F5D4B6;
}
.nav-link{
    color: black !important;
}
.navbar-brand{
    padding-left: 25px;
    color:#2BA136;
    font-family: 'Courgette', cursive;
    font-size: 155px;
}
.kiene{padding-top: 30px;}

.ubik{
    text-align: center;
}

.mono{color: black;}